body {background-color: #92badd;
	 color: white;
   	 text-align: center;
   	 font-family:sans-serif;}
   	 
	input[type=submit]{
	    background-color: white;
		padding: 10px 40px;
		color: #56baed;
	    border-radius: 6px;
	  	margin: 20px 20px 40px 20px;
	  	position:fixed;
   		right:10px;
   		top:2px;
	}